[Desktop Entry]
Type=Application
Name=LED GUI
Path=Path/Dist/LED_GUI
Exec=Path/Dist/LED_GUI/LED_GUI
Icon=Path/Dist/LED_GUI/LED.png
Comment[en_US]=LED GUI
Terminal=false


Name[en_US]=Excecutable_Link.desktop
