[Desktop Entry]
Type=Application
Name=LED GUI
Path=path/Dist/LED_GUI
Exec=path/Dist/LED_GUI/LED_GUI
Icon=path/Dist/LED_GUI/LED.png
Comment[en_US]=LED GUI
Terminal=false


Name[en_US]=Excecutable_Link.desktop
