[Desktop Entry]
Type=Application
Name=LED GUI
Path=path/dist/LED_GUI
Exec=path/dist/LED_GUI/LED_GUI
Icon=path/dist/LED_GUI/LED.png
Comment[en_US]=LED GUI
Terminal=false


Name[en_US]=Excecutable_Link.desktop
